@charset "utf-8";
  
  .text-small {
    font-size: 0.9rem;
  }

  .text-x-small {
    font-size: 0.7rem;
  }

  .messages-box {
    border-right: 1px solid #e0e0e0;
    height: 100%;
  }
  
  .messages-box,
  .chat-box {
    max-height: 600px;
    height: 600px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
  